.order {
    margin-bottom: 20px;

    .header {
        .title {
            display: flex;
            align-items: center;

            h5 {
                margin-bottom: 0;
                margin-right: 20px;
            }

            @media (max-width: 575px) {
                flex-direction: column;
                align-items: start;

                h5 {
                    margin-right: 0;
                    margin-bottom: 5px;
                }
            }
        }

        .cost {
            h3 {
                margin-bottom: 0;
                color: #1677FF;
                text-align: right;

                @media (max-width: 575px) {
                    font-size: 18px;
                }
            }
        }
    }

    .info {
        form > div {
            margin-bottom: 5px;
            
            @media (max-width: 575px) {
                margin-bottom: 15px;
            }
        }

        .products {
            width: 100%;
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            justify-content: flex-end;

            .item {
                position: relative;
                background-color: #F8F8F8;
                border-radius: 15px;
                width: calc(20% - 8px);
                aspect-ratio: 1;

                img {
                    filter: brightness(0.971);
                    border-radius: 15px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

                @media (max-width: 991px) {
                    width: calc(33.33% - 7px);
                }
            }

            @media (max-width: 767px) {
                justify-content: start;

                .item {
                    width: calc(20% - 8px);
                }
            }

            @media (max-width: 575px) {
                .item {
                    width: calc(33.33% - 7px);
                }
            }
        }
    }
}